1.- We import the necessary libraries

In [14]:
import numpy as np 
import pandas as pd

2.- From Wikipedia, we create toronto.csv file and then we call it to transform it into a Dataframe.

In [15]:
my_data = pd.read_csv("toronto.csv", delimiter=",")
my_data

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

3.- We clean now the data by dropping the rows where Borough is Not assigned.

In [18]:
a=my_data[~my_data.Borough.str.contains("Not assigned")]

my_data_filtered=a

4.- We confirme the shape of the new df:

In [19]:
my_data_filtered.shape

(103, 3)